#div {
    
        font-family: Helvetica;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        margin: 14px;
        padding: 10px; 
}
#lb{
    margin: 20px;
}

#dv{
    margin: 13px;
  
}